<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FuckAV.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.4" newVersion="6.0.0.4" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <FuckAV.Properties.Settings>
      <setting name="Product" serializeAs="String">
        <value />
      </setting>
      <setting name="Description" serializeAs="String">
        <value />
      </setting>
      <setting name="Company" serializeAs="String">
        <value />
      </setting>
      <setting name="Copyright" serializeAs="String">
        <value />
      </setting>
      <setting name="Trademarks" serializeAs="String">
        <value />
      </setting>
      <setting name="OriginalFilename" serializeAs="String">
        <value />
      </setting>
      <setting name="ProductVersion" serializeAs="String">
        <value>0.0.0.0</value>
      </setting>
      <setting name="FileVersion" serializeAs="String">
        <value>0.0.0.0</value>
      </setting>
      <setting name="WriteAssembly" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="key" serializeAs="String">
        <value>null</value>
      </setting>
      <setting name="Bind" serializeAs="String">
        <value>False</value>
      </setting>
    </FuckAV.Properties.Settings>
  </userSettings>
</configuration>